.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(15px + 2vmin);
  color: white;
}

.slider {
  position: relative;
  width: 75%;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  height: 90px;
  line-height: 90px;
  text-align: center;
}

.slider-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.slide {
  font-size: calc(9px + 2vmin);
  display: inline-block;
  height: 100%;
  width: 100%;
}

.arrow {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 25%;
  border-radius: 50%;
  cursor: pointer;
  background-color: #15181d;
  width: 45px;
  height: 45px;
  z-index: 999;
  color: #fff;
}

.rightArrow {
  right: 0px;
}

.leftArrow {
  left: 0px;
}
